<div class="header-bar" *ngIf="!cargandoMesa && mesaValida">
  <div class="mesa-info">
    <h2>Estás en la Mesa {{ mesaNumero }}</h2> 
  </div>

  <div class="search-box">
    <input 
      type="text" 
      [(ngModel)]="query" 
      (input)="onSearchChange()" 
      placeholder="Escribe el nombre de una canción o artista...">
  </div>
</div>

<div class="resultados-busqueda" *ngIf="tracks.length > 0">
  <div *ngFor="let track of tracks" class="item-resultado" (click)="seleccionarCancion(track)">
    <img [src]="track.album.images[2]?.url" class="foto-resultado">
    <div class="info-resultado">
      <strong>{{ track.name }}</strong>
      <p>{{ obtenerArtistas(track) }}</p>
    </div>
    <div class="add-icon">+</div>
  </div>
</div>

<div *ngIf="!cargandoMesa && !mesaValida" class="error-container">
  <h2>Mesa no encontrada</h2>
  <p>El código de mesa no es válido o la mesa ha sido desactivada.</p>
</div>

<hr style="margin: 40px 0; border: 0; border-top: 1px solid #eee;">

<div class="mis-pedidos" *ngIf="mesaValida">
  
  <h3 class="titulo-cola">Tu turno en la cola</h3>
  <div class="lista-historial">
    <ng-container *ngFor="let solicitud of (misCanciones$ | async); let i = index">
      <div class="card-historial" *ngIf="solicitud.estado === 'pendiente'">
        <div class="orden-numero">{{ i + 1 }}</div>
        <img [src]="solicitud.foto" class="foto-mini">
        <div class="info-pedida">
          <strong>{{ solicitud.cancion }}</strong>
          <p>{{ solicitud.artista }}</p>
        </div>
        <div class="status-container">
          <span class="hora-pedido">{{ solicitud.fechaHora?.toDate() | date:'h:mm a' }}</span>
          <div class="estado-badge pendiente">En espera</div>
        </div>
      </div>
    </ng-container>
  </div>

  <h3 class="titulo-pasado">Recién procesadas</h3>
  <div class="lista-historial historial-pasado">
    <ng-container *ngFor="let solicitud of (misCanciones$ | async | slice:0)?.reverse()">
      <div class="card-historial gris" *ngIf="solicitud.estado !== 'pendiente'">
        <img [src]="solicitud.foto" class="foto-mini sepia">
        <div class="info-pedida">
          <strong>{{ solicitud.cancion }}</strong>
          <p>{{ solicitud.artista }}</p>
        </div>
        <div class="status-container">
          <span class="hora-pedido">{{ solicitud.fechaHora?.toDate() | date:'h:mm a' }}</span>
          <div class="estado-badge" [ngClass]="solicitud.estado">
            {{ solicitud.estado }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>