/* Estilos Globales de la Aplicación */
:root {
  --color-primario: #1DB954; /* Verde Premium */
  --bg-app: #f8f9fa;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-app);
  
  /* Deshabilita gestos de zoom a nivel de sistema de toque */
  touch-action: manipulation; 
  overflow-x: hidden;
}

/* Eliminamos la restricción de font-size que bloqueaba los números gigantes */
input, textarea {
  font-family: inherit;
}
