/* Estilos Globales */
:root {
  --color-primario: #1DB954;
  --bg-app: #f8f9fa;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  /* CLAVE: Altura fija y bloqueo de scroll en la raíz */
  height: 100%;
  width: 100%;
  overflow: hidden; 
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-app);
}

input, textarea {
  font-family: inherit;
}
